<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <img src="https://cdn.hugeicons.com/icons/home-06-stroke-rounded.svg" alt="home-06" width="24" height="24" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="links" [routerLink]="['/tabs/links']">
      <img src="https://cdn.hugeicons.com/icons/link-01-stroke-rounded.svg" alt="link-01" width="24" height="24" />
      <ion-label>Links</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/tabs/notes']">
      <img src="https://cdn.hugeicons.com/icons/note-03-stroke-rounded.svg" alt="note-03" width="24" height="24" />
      <ion-label>Notas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
