<ion-header>
  <ion-toolbar>
    <ion-buttons [routerLink]="['/tabs/links']" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{items.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{items.name}}</ion-card-title>
      <ion-card-subtitle>{{items.link}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Usuario</h2>
          <p>{{items.username}}</p><br>
        </ion-label>
        <ion-button slot="end" size="small" (click)="copy(items.username)">copiar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Password</h2>
          <p>{{items.password}}</p><br>
        </ion-label>
        <ion-button slot="end" size="small" (click)="copy(items.password)">copiar</ion-button> 
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toast
  [isOpen]="isToastOpen"
  [message]="message"
  [duration]="5000"
  (didDismiss)="setOpen(false)"
></ion-toast>