<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text color="primary">
    <h3>Ingresa los datos</h3>
  </ion-text>
  <ion-item>
    <ion-input labelPlacement="floating" color="primary" [(ngModel)]="link">
      <div slot="label">Link</div>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" color="primary" [(ngModel)]="name">
      <div slot="label">Nombre de la aplicacion <ion-text color="danger">(Required)</ion-text></div>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" color="primary" [(ngModel)]="username">
      <div slot="label">Nombre de Usuario <ion-text color="danger">(Required)</ion-text></div>

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" color="primary" [(ngModel)]="password">
      <div slot="label">Password del Usuario <ion-text color="danger">(Required)</ion-text></div>
    </ion-input>
  </ion-item>
  



</ion-content>